.header {
  margin: 0;
  padding: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-family: Formularlight;
  position: relative;
  background-color: #ECEBE8;
}

@media screen and (max-width: 1400px) {
  .header {
    flex-wrap: wrap;
    /* border: none; */
    justify-content: flex-end;
  }
}

@media screen and (max-width: 840px) {
  .header {
    border: none;
    position: relative;
    justify-content: space-between;
    height: 61px;
  }
}
