@font-face {
  font-family: "PPNeueMachina-regular";
  src: url("PPNeueMachina-Regular.eot");
  src: url("PPNeueMachina-Regular.eot?#iefix") format("embedded-opentype"),
    url("PPNeueMachina-Regular.woff2") format("woff2"),
    url("PPNeueMachina-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
