/* .header__burger-menu-button {
    margin: 0;
    padding: 0;
    display: none;
    right: 24px;
}

@media screen and (max-width: 840px) {
    .header__burger-menu-button {
      display: block;
    }
  } */

